[submodule "lib/vendor/doctrine-common"]
	path = lib/vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "lib/vendor/symfony-console"]
	path = lib/vendor/symfony-console
	url = https://github.com/symfony/Console.git
